#nextbutton {
  width: 50vw;
  height: auto;
  position: absolute;
  bottom: 6vh;
  left: 25vw;
  background-color: #AD50FF;
  border: 0.2em solid white;
  text-align: center;
  color: #FFF;
  border-radius: 100px;
}

#nextbutton:active {
  background-color: white;
  color: #AD50FF;
}

h2 {
  font-size: 1.3em;
  text-align: center;
  font-family: monospace;
}
