div.nextbutton {
  z-index: 10;
  width: 33%;
  height: 10%;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #7611B7;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  user-select: none;
}
