* {
  font-family: inherit;
  box-sizing: inherit;
}

#runtimeErrorContainer {
  z-index: 800;
  background-color: #FFFFFF;
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hidden {
  display: none !important;
}

.error-text-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-margin-top-5 {
  margin-top: 5vh;
}

.error-text-container {
  flex: 0 0 auto;
  text-align: center;
  width: 90%;
}

.error-text-header {
  font-family: 'Varela-Round', sans-serif;
  font-size: 18pt;
  color: #323232;
  letter-spacing: .37;
  line-height: 23pt;
}

.error-text-hint {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 14pt;
  color: #A8A8BA;
  letter-spacing: .37;
}

.floater {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}
