#runtimeErrorContainer {
  z-index: 800;
  background-color: #101118;
}

.xrextras-old-style #runtimeErrorContainer {
  background-color: #FFFFFF;
}

.floater {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}
