#loadingContainer {
  z-index: 800;
  font-family: 'Nunito-SemiBold', sans-serif;
}

#loadBackground {
  z-index: 10;
  background-color: #101118;
  pointer-events: auto;
}

.xrextras-old-style #loadBackground {
  background-color: white;
}

#requestingCameraPermissions {
  z-index: 11;
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 1.8em;
  font-family: 'Nunito-SemiBold', sans-serif;
  background-color: #464766;
  padding-top: 3vh;
  padding-bottom: 1.75vh;
}

#requestingCameraIcon {
  display: block;
  margin: 0 auto;
  margin-bottom: 2vh;
  height: 5.5vh;
}

#loadImage {
  position: absolute;
  margin-top: -2.5em;
  margin-left: -2.5em;
  top: 50%;
  left: 50%;
  height: 5em;
  width: 5em;
  transform: translate(-50%, -50%);
}

/* camera and micrphone permission related styles */
#cameraPermissionsErrorApple, #microphonePermissionsErrorApple {
  background-color: #101118;
}

.xrextras-old-style #cameraPermissionsErrorApple, .xrextras-old-style #microphonePermissionsErrorApple {
  background-color: white;
}

#cameraPermissionsErrorAppleMessage, #microphonePermissionsErrorAppleMessage {
  font-size: 1.75em;
  text-align: center;
  max-width: 90vw;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.xrextras-old-style #cameraPermissionsErrorAppleMessage, .xrextras-old-style #microphonePermissionsErrorAppleMessage {
  color: #323232;
}

.permissionIconIos {
  display: block;
  margin: 0 auto;
  margin-top: 17vh;
  text-align: center;
}
.permissionIconIos img {
  height: 20vw;
}
.permissionIconIos img + img {
  margin-left: 10vw;
}

.bottom-message {
  color: white;
  padding: 0 5vw;
  position: absolute;
  bottom: 10vh;
  text-align: center;
  font-size: 1.25em;
}

#cameraPermissionsErrorAndroid, #microphonePermissionsErrorAndroid {
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  justify-content: space-around;
  align-items: center;
  background-color: #101118;
}

.xrextras-old-style #cameraPermissionsErrorAndroid, .xrextras-old-style #microphonePermissionsErrorAndroid {
  background-color: white;
}

/* device motion permission related styles */

#deviceMotionErrorApple {
  padding: 3vh 2vh;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  justify-content: space-around;
  align-items: center;
  background-color: #101118;
  color: white;
}

.xrextras-old-style #deviceMotionErrorApple {
  color: #2D2E43;
  background-color: white;
}

#linkOutViewAndroid, #copyLinkViewAndroid {
  background-color: #101118;
}

.xrextras-old-style #linkOutViewAndroid, .xrextras-old-style #copyLinkViewAndroid {
  background-color: #fff;
}

.permission-error {
  padding: 3vh 5vh;
  font-size: 3.5vh;
  color: #fff;
  background-color: #101118;
}

.xrextras-old-style .permission-error {
  color: #323232;
  background-color: white;
}

.permission-error>h1 {
  font-size: 1.3em;
}

.main-button {
  border: none;
  outline: none;
  background-color: #AD50FF;
  color: white;
  font-size: 2.5vh;
  display: block;
  margin-top: 2em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.xrextras-old-style .main-button {
  background-color: #7611B7;
}

.start-ar-button {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Nunito-SemiBold', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
  color: white;
  text-decoration: none;
  border: none;
  background-color: #AD50FF;
  padding: 6px 13px;
  border-radius: 10px;
}

.xrextras-old-style .start-ar-button {
  background-color: #7611b7;
}

.permissionIcon {
  overflow: hidden;
  flex: 0 0 auto;
  margin-bottom: 2vh;
}

.permissionIcon img {
  display: block;
  margin: 0 auto;
  height: 5vh;
}

#cameraSelectionWorldTrackingError {
  z-index: 999;
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
  color: black;
  font-size: 3.7vh;
  background-color: white;
  padding: 3vh 0;
}

.loading-error-header {
  font-size: 3.5vh;
  flex: 0 0 auto;
  color: white;
}

.xrextras-old-style .loading-error-header {
  color: #323232;
}

.loading-error-footer {
  font-size: 3vh;
  line-height: 5.5vh;
  flex: 0 0 auto;
  text-align: center;
  width: 80vmin;
  color: white;
}

.xrextras-old-style .loading-error-footer {
  color: #323232;
}

.loading-error-footer img {
  display: block;
  height: 5vh;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.loading-error-instructions {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 2.5vh;
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
  flex: 0 0 auto;
}

.xrextras-old-style .loading-error-instructions {
  color: #2D2E43;
}

.loading-error-instructions>li {
  position: relative;
  margin-bottom: 4.5vh;
}

.loading-error-instructions>li>img {
  max-height: 3vh;
  vertical-align: middle;
  margin: 0 .5vh;
}

.loading-error-instructions>li:before {
  font-family: 'Nunito', sans-serif;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 3vh;
  color: #fff;
  background-color: #464766;
  text-align: center;
  left: -8vh;
  top: -1vh;
  font-size: 2.5vh;
  line-height: 5.5vh;
  counter-increment: line;
  content: counter(line);
}

.xrextras-old-style .loading-error-instructions>li:before {
  background-color: rgba(218, 209, 228, 128);
}

.highlight {
  color: white;
  font-family: 'Nunito-SemiBold', sans-serif;
  font-weight: 800;
}

.xrextras-old-style .highlight {
  color: #7611B7;
}

.camera-instruction-block {
  display: inline-block;
  background-color: #8083A2;
  padding: 1vh;
}

.xrextras-old-style .camera-instruction-block {
  background-color: #EBEBEB;
}

.camera-instruction-button {
  display: inline-block;
  padding: 1vh;
  background-color: #359AFF;
  color: white;
  font-size: 2vh;
  box-shadow: 0 .125vh .25vh rgba(0, 0, 0, 0.5);
}

body:not(.xrextras-old-style) .prompt-box-8w {
  background-color: #3A3B55;
  color: #fff;
  text-align: center;
}

body:not(.xrextras-old-style) .prompt-button-8w {
  background-color: #8083A2;
  border-radius: 10px;
}

body:not(.xrextras-old-style) .button-primary-8w {
  background-color: #AD50FF;
}

.fade-out {
  animation: fade-out 0.3s linear forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spin {
  animation: spin 1.1s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite both;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scale {
  -webkit-animation: scale 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
  animation: scale 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation: pulse 1s ease-in-out infinite both;
  animation: pulse 1s ease-in-out infinite both;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
